image: docker:19.03.0
services:
  - docker:19.03.0-dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375/

stages:
  - lint
  - static_code_analysis
  - test
  - build

pylint:
  stage: lint
  image: eeacms/pylint:latest
  script:
    - pylint -E --rcfile=.pylintrc ghost-hire

static_code_analysis:
  stage: static_code_analysis
  image: huskyci/bandit:latest
  script: bandit -r ./ -lll

test:
  stage: test
  image: python:3.9.5-slim-buster
  services:
    - rabbitmq:latest
  before_script:
    - apt-get -y update
    - apt-get install -y git
    - pip install -r requirements.txt
  script:
    - apt-get -y update
    # install google chrome
    - apt-get install wget gnupg2 -y
    # install google chrome
    - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
    - wget --no-verbose -O /tmp/chrome.deb http://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_${CHROME_VERSION}_amd64.deb
    - apt install -y /tmp/chrome.deb
    - apt-get install -yqq unzip
    - apt-get install curl -y
    - apt-get install -y build-essential libssl-dev libffi-dev
    - wget -O /tmp/chromedriver.zip http://chromedriver.storage.googleapis.com/$CHROME_DRIVER_VERSION/chromedriver_linux64.zip
    - unzip -o /tmp/chromedriver.zip chromedriver -d /usr/local/bin/
    - chmod +x /usr/local/bin/chromedriver
    - python -m unittest discover -s app -p "test_*.py"
  variables:
    ROLLBAR_ENV: test

  coverage: /\[TOTAL\]\s+(\d+\.\d+)%/
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip[ _-]test?\]/i
      - $CI_COMMIT_MESSAGE =~ /\[skip[ _-]tests?\]/i

build:
  stage: build
  image: google/cloud-sdk:alpine
  services:
    - docker:dind
  before_script:
    - echo "$GOOGLE_AUTH" > gcloud-service-key.json
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GOOGLE_PROJECT_ID
    - export IMAGE=gcr.io/$GOOGLE_PROJECT_ID/$NAME
    - gcloud auth configure-docker
  script:
    - docker build -t $IMAGE:$CI_COMMIT_SHA .
    - docker push $IMAGE:$CI_COMMIT_SHA
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip[ _-]deploy?\]|WIP/i
  variables:
    GOOGLE_PROJECT_ID: idfy-gitlab
    NAME: ghost-hire
  only:
    - develop
    - master


# - - - - DEPLOY - - - -


.deploy: &deploy
  stage: deploy
  image: google/cloud-sdk
  before_script:
    - echo "$GOOGLE_AUTH" > gcloud-service-key.json # Google Cloud service accounts
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GOOGLE_PROJECT_ID
    - gcloud --quiet config set container/cluster $GOOGLE_CLUSTER_NAME
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip[ _-]deploy?\]|WIP/i

deploy_staging:
  <<: *deploy
  variables:
    GOOGLE_PROJECT_ID: idfy-labs-staging
    GOOGLE_CLUSTER_NAME: labs-staging-cluster-1
    GOOGLE_COMPUTE_ZONE: asia-south1-b
    NAME: ghost-hire
  script:
    - gcloud --quiet container clusters get-credentials $GOOGLE_CLUSTER_NAME --zone $GOOGLE_COMPUTE_ZONE
    - bash kube/deploy.sh $CI_COMMIT_SHA staging $GOOGLE_PROJECT_ID $NAME
  environment:
    name: staging
  only:
    - develop

deploy_production:
  <<: *deploy
  variables:
    GOOGLE_PROJECT_ID: idfy-labs-prod
    GOOGLE_CLUSTER_NAME: labs-prod-cluster-1
    GOOGLE_COMPUTE_REGION: asia-south1
    NAME: ghost-hire
  script:
    - gcloud --quiet container clusters get-credentials $GOOGLE_CLUSTER_NAME --region $GOOGLE_COMPUTE_REGION
    - bash kube/deploy.sh $CI_COMMIT_SHA prod $GOOGLE_PROJECT_ID $NAME
  environment:
    name: production
  only:
    - master
