image: docker:19.03.0
services:
  - docker:19.03.0-dind

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375/

stages:
  - lint
  - static_code_analysis
  - test
  - build

pylint:
  stage: lint
  image: eeacms/pylint:latest
  script:
    - pylint -E --rcfile=.pylintrc ghost-hire

static_code_analysis:
  stage: static_code_analysis
  image: huskyci/bandit:latest
  script: bandit -r ./ -lll

test:
  stage: test
  image: python:3.8.16-slim-bullseye
  services:
    - rabbitmq:latest
  before_script:
    - apt-get -y update
    - apt-get install -y git
    - pip install -r requirements.txt
  script:
    - apt-get -y update
  variables:
    ROLLBAR_ENV: test

  coverage: /\[TOTAL\]\s+(\d+\.\d+)%/
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip[ _-]test?\]/i
      - $CI_COMMIT_MESSAGE =~ /\[skip[ _-]tests?\]/i

build:
  stage: build
  image: google/cloud-sdk:alpine
  services:
    - docker:dind
  before_script:
    - echo "$GOOGLE_AUTH" > gcloud-service-key.json
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GOOGLE_PROJECT_ID
    - export IMAGE=gcr.io/$GOOGLE_PROJECT_ID/$NAME
    - gcloud auth configure-docker
  script:
    - docker build -t $IMAGE:$CI_COMMIT_SHA .
    - docker push $IMAGE:$CI_COMMIT_SHA
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip[ _-]deploy?\]|WIP/i
  variables:
    GOOGLE_PROJECT_ID: idfy-gitlab
    NAME: ghost-hire
  only:
    - develop
    - master


# # - - - - DEPLOY - - - -


# .deploy: &deploy
#   stage: deploy
#   image: google/cloud-sdk
#   before_script:
#     - echo "$GOOGLE_AUTH" > gcloud-service-key.json # Google Cloud service accounts
#     - gcloud auth activate-service-account --key-file gcloud-service-key.json
#     - gcloud config set project $GOOGLE_PROJECT_ID
#     - gcloud --quiet config set container/cluster $GOOGLE_CLUSTER_NAME
#   except:
#     variables:
#       - $CI_COMMIT_MESSAGE =~ /\[skip[ _-]deploy?\]|WIP/i

# deploy_staging:
#   <<: *deploy
#   variables:
#     GOOGLE_PROJECT_ID: idfy-labs-staging
#     GOOGLE_CLUSTER_NAME: labs-staging-cluster-1
#     GOOGLE_COMPUTE_ZONE: asia-south1-b
#     NAME: ghost-hire
#   script:
#     - gcloud --quiet container clusters get-credentials $GOOGLE_CLUSTER_NAME --zone $GOOGLE_COMPUTE_ZONE
#     - bash kube/deploy.sh $CI_COMMIT_SHA staging $GOOGLE_PROJECT_ID $NAME
#   environment:
#     name: staging
#   only:
#     - develop

# deploy_production:
#   <<: *deploy
#   variables:
#     GOOGLE_PROJECT_ID: idfy-labs-prod
#     GOOGLE_CLUSTER_NAME: labs-prod-cluster-1
#     GOOGLE_COMPUTE_REGION: asia-south1
#     NAME: ghost-hire
#   script:
#     - gcloud --quiet container clusters get-credentials $GOOGLE_CLUSTER_NAME --region $GOOGLE_COMPUTE_REGION
#     - bash kube/deploy.sh $CI_COMMIT_SHA prod $GOOGLE_PROJECT_ID $NAME
#   environment:
#     name: production
#   only:
#     - master
