repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v2.3.0
        hooks:
        -   id: check-yaml
        -   id: end-of-file-fixer
        -   id: trailing-whitespace
    -   repo: https://github.com/psf/black
        rev: stable
        hooks:
        -   id: black
            args: [.]
    -   repo: https://github.com/pycqa/pylint
        rev: pylint-2.5.3
        hooks:
        -   id: pylint
            args: [--rcfile=.pylintrc, ghost-hire]
    -   repo: https://github.com/PyCQA/bandit
        rev: 1.6.2
        hooks:
        -   id: bandit
            args: [-ll, --recursive, ./]
